body {
background-color:black;
color:black;
}

#wrapper { 
background-color:white;
width:95%; 
margin:auto; 
}

header{
	height:100px;
	background-color:red;
}
	
h1{
float:left;
padding:2px 6px;
margin:auto;
}

	
/* add a pink background color to the navigation */
nav {
     padding:5px 5px;
     background-color:#afb5ef;
     overflow: hidden;
}
/* style the links inside the navigation bar */
nav a {
	float:right;
	color:black;
	text-align:center;
	padding:24px 16px;
	text-decoration:none;
	font-size:20px;
}
/* change the color of links on hover */
nav a:hover {
	background-color:black;
	color:white;
}
/* float the formaction to the center*/
form {
     float:center;
     padding:40px 150px;
     text-decoration:none;
}


footer { 
height:160px; 
background-color:#afb5ef; 
}  

footer ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  overflow: hidden; 
  background-color:#afb5ef; 

} 

footer ul li { 
text-align:center;
  float: center; 
} 

footer ul li a { 
  display: block; 
  color:black; 
  text-align: center; 
  padding: 14px 16px; 
  text-decoration: none; 
}
footer ul li a:hover {
	background-color:black;
	color:white;
}
/*Profiles*/
  .Profiles {
        margin-top: 15%;
           
}
  
  .Profiles h1{
           text-align: center;
           font-size:250%;
           margin:8%;
} 

  .Profiles h2{
           text-align: center;
           font-size:200%;
           margin:6%;
} 

  .Profiles h4{
           font-size: 120%;
           margin: 2%;   
}
    

  .Profiles h5{
        font-size: 100%;
        margin :1%;    
}
    

  .head{
      text-align: center;    
}
    
    
  .Profiles-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 95%;
        margin-left: 5%;   
}
    

  .profile{
        width: 20%;
        background-color:green;
        padding: 1%;
        margin: 1%   
}
    

  .profile img{
        width: 100%;    
}
